html {
    font-family: sans-serif;
  }
  
  

  div {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    background: red;
    color: white;
    text-shadow: 2px 2px black;
    border-radius: 10px;
    border: 1px solid darkred;
    
    /*
    since, 
    16 px = 1 rem
    therefore,
    18 px = [(1/16) * 18] rem = 1.125 rem
    */
    font-size: 1.125rem;

    background-image: linear-gradient(to top left, rgba(0,0,0,0.2), rgba(0,0,0,0.2) 30%, rgba(0,0,0,0));
    box-shadow: 3px 3px 5px black,
    inset 2px 2px 3px rgba(255,255,255,0.6),
    inset -2px -2px 3px rgba(0,0,0,0.6);
  }